#cart-wrapper {
    max-width: 680px;
    margin: auto;
    background-color: white;
    padding: 2rem;
}

#cart-summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

#subtotal-title { grid-area: 1 / 1 / 2 / 2; }
#subtotal { 
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
    padding-right: 2rem;
    font-size: 2.5rem;
}
#currency { grid-area: 1 / 3 / 2 / 4; }
#checkout { grid-area: 2 / 1 / 3 / 4; }

.default-message {
    text-align: center;
    padding: 3rem;
}

.cart-line {
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-line a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 3rem);
    background:linear-gradient(90deg, white, rgba(255,255,255,0));
}
.cart-line button {
    width: 2rem;
    background-color: unset;
    opacity: .6;
}
.cart-line button:hover{
    background-color: unset;
    opacity: 1;
}
.remove-button {
    width: 2rem !important;
    height: 2rem !important;
    transform: translateX(-50%);
}
.cart-line img {
    height: 5rem;
    width: 5rem;;
    margin: .5rem;
    flex-basis: min-content;
}
.cart-line a div {flex-grow: 1;}