/* Global Styles */
:root {
    --paleblue: #e0efee;
    --lightblue: #99c9c8;
    --blue: #568d94;
    --red: #e04e2d;
    --darkgray: #333333;
    --lightgray: #e6e6e6;
  }
@font-face {
    font-family: montserrat;
    src: url(/fonts/montserrat/Montserrat-Light.ttf);
    font-weight: 100;
}
@font-face {
    font-family: montserrat;
    src: url(/fonts/montserrat/Montserrat-Medium.ttf);
    font-weight: 400;
}
@font-face {
    font-family: montserrat;
    src: url(/fonts/montserrat/Montserrat-ExtraBold.ttf);
    font-weight: 900;
}
@font-face {
    font-family: montserrat;
    src: url(/fonts/montserrat/Montserrat-LightItalic.ttf);
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: montserrat;
    src: url(/fonts/montserrat/Montserrat-MediumItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: montserrat;
    src: url(/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf);
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: montserrat-alternates;
    src: url(/fonts/montserratalternates/MontserratAlternates-Light.ttf);
    font-weight: 100;
}
@font-face {
    font-family: montserrat-alternates;
    src: url(/fonts/montserratalternates/MontserratAlternates-Medium.ttf);
    font-weight: 400;
}
@font-face {
    font-family: montserrat-alternates;
    src: url(/fonts/montserratalternates/MontserratAlternates-ExtraBold.ttf);
    font-weight: 900;
}
@font-face {
    font-family: montserrat-alternates;
    src: url(/fonts/montserratalternates/MontserratAlternates-LightItalic.ttf);
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: montserrat-alternates;
    src: url(/fonts/montserratalternates/MontserratAlternates-MediumItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: montserrat-alternates;
    src: url(/fonts/montserratalternates/MontserratAlternates-ExtraBoldItalic.ttf);
    font-weight: 900;
    font-style: italic;
}
html {
    background-image: url(/images/background.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100vh;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: montserrat;
    font-weight: 900;
    color: var(--darkgray);
}
h1 {font-size: 4rem}
h2 {font-size: 3rem;}
h3 {font-size: 2.5rem;}
h4 {font-size: 2rem;}
h5 {font-size: 2rem; font-weight: 400;}
h6 {font-size: 1.5rem;}

p, a, input, select, label, button, ::placeholder {
    font-family: montserrat;
    font-size: 1.5rem;
    color: var(--darkgray);
    font-weight: 100;
}
a {
    text-decoration: none;
    color: var(--blue);
}
a:hover, button:hover {
    filter: brightness(.9);
}
button {
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
}
.column img {
    max-width: 100%;
}

/* Utility Styles */
a img {
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}
.bold {
    font-weight: 400;
}
.bolder {
    font-weight: 900;
}
.italic {
    font-style: italic;
}
.bold-italic {
    font-weight: 400;
    font-style: italic;
}
.bolder-italic {
    font-weight: 900;
    font-style: italic;
}
.caps {
    text-transform: uppercase;
}
.alternates {
    font-family: montserrat-alternates;
    font-weight: 100;
}
.right-text {
    text-align: right;
}
.shadow {
    filter: drop-shadow(0 .25rem .25rem rgba(0, 0, 0, .5));
}
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 40%);
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.red-button{
    color: white;
    display: block;
    padding: .5rem;
    background-color: var(--red);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}
.blue-button{
    color: white;
    display: block;
    padding: .5rem;
    background-color: var(--blue);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}
.gray-button{
    color: white;
    display: block;
    padding: .5rem;
    background-color: var(--darkgray);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}
.blue-underline {
    border-bottom: .25rem solid var(--blue);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.red-underline {
    border-bottom: .25rem solid var(--red);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.gray-underline {
    border-bottom: .25rem solid var(--darkgray);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.pills {
    display: flex;
    flex-wrap: wrap;
}
.pill {
    border: 1px solid var(--darkgray);
    padding: .125rem .5rem;
    margin: .25rem .25rem .75rem .25rem ;
    font-size: 1rem !important;
    text-transform: uppercase;
    color: var(--darkgray);
    align-self: flex-start;
    background-color: white;
}
.pill b {
    font-weight: 400;
}

/* Component Styles */
.striped-button {
    background-color: #ffffff;
    padding: .5rem 1rem;
    border-top: .35rem solid var(--red);
    border-bottom: .35rem solid var(--blue);
    filter: drop-shadow(0 .25rem .25rem rgba(0, 0, 0, .5));
    color: var(--darkgray);
}
.striped-button img {
    width: 3rem;
    margin-right: .5rem;
}
.light-blue-stripes {
    border-top: .35rem solid var(--lightblue);
    border-bottom: .35rem solid var(--lightblue);
}
.card p ~ p {
    margin-top: 2rem;
}
.card {
    background-color: rgba(255, 255, 255, .8);
    padding: 1rem;
    margin: 1rem;
}
.card-header {
    border-bottom: .25rem solid var(--blue);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.card .icon {
    width: 8rem;
    padding-right: 1rem;
}
.card h1 {
    font-size: 3rem;
}

/* Header Styles */
#header-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
}
#header-icons img {
    margin:1rem;
    width: 3rem;
    height:3rem;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img {
    width:50rem;
    margin: 3rem 0;
}
#global-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:2rem;
}
.sub-nav {
    background-color: var(--lightgray);
    padding: 1rem 0;    
}
.slick-slide img {
    width: 94%;
}

#cart-icon-quantity {
    position: relative;
    top: -40%;
    left: 70%;
    background-color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border: solid 1.5px var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

#search-icon {
    cursor: pointer;
}

#search-icon:hover {
    filter: brightness(.9);
}
#search-bar {
    text-align: center;
    padding: 5rem;
}

#sb-search-input {
	border: 1px solid var(--darkgray);
	background: #fff;
	width: 25rem;
	height: 3rem;
	margin: 0;
	padding: 1rem;
}

#sb-search-submit {
    margin: 1rem 1rem 1rem 0;
    width: 6rem;
    height: 3rem;
    color: white;
    background-color: var(--darkgray);
    font-size: 1rem;
}

#search-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vw;
    background-color: white;
    border: 1px solid var(--darkgray);
    z-index: 100;
    transform: translate(-50%, -50%);
}

#search-bar p {
    margin:2rem;
}

/* Row Styles */
.red-row {
    background-color: var(--red);
    color: white;
}
.light-gray-row {
    background-color: var(--lightgray);
}


/* Top Banner Styles */
#top-banner {
    position: fixed;
    top: 0;
    left: 50%;
    min-height: 2rem;
    min-width: 30rem;
    text-align: center;
    transform: translateX(-50%);
    padding: 1rem;
    margin: 2rem;
}



@media screen and (max-width: 680px) {
    #global-nav p {
        font-size: 1rem;
    }
}