.home-flex {
    margin-top:1rem;
}
.home-flex img{
    max-width:100%;
}
.home-flex div:first-child{
    text-align:right;
}
.vert-line{
    background: linear-gradient(#000, #000) no-repeat center/.25rem 100%;
    height: 7rem;
}
#home-lou-quote {
    background-image: url(/images/home-hero-lou.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 9rem;
    border-bottom: 0.25rem solid #cccccc;
    margin-bottom:1rem;
}
#home-lou-quote p {
    width: 75%;
    text-align: center;
    font-size: 1.25rem;
    padding-top:1rem;
}
#home-feature-row {
    position: relative;
    padding-bottom:10rem;
    clip-path: inset(0 0 0 0);
    z-index: -1;
    background: linear-gradient(rgba(255,255,255,0), 50%, var(--paleblue))
}
#home-hero-image {
    bottom: 0;
    position: fixed;

    margin: -1rem;
}
#home-hero-image img {
    max-width: 100vw;
}
#home-feature-row .card {
    border-right: 1rem solid var(--red);
    margin-bottom:5rem;
    margin-left: 0;
    width: 42rem;
}
#fp-wrapper {
    background-color: var(--paleblue);
    background:linear-gradient(var(--paleblue), var(--paleblue) 70%, #ffffff)
}
#fp-header {
    margin-top: -10rem;
    width: 100%;
}
#featured-products {
    margin-left: 23rem;
    width: 72rem;
    margin-top: -18rem;
}
#fp-hero {
    width: 100%;
    margin-top:-100%
}
#featured-products-row-2 {
    background: linear-gradient(180deg, rgba(185,215,237,0) 0%, rgba(143,203,223,1) 35%, rgba(0,176,224,0) 80%);  
    margin-top: -18rem;
    padding-top: 68rem;
    margin-bottom:5rem;
}
#featured-products-row-2 .inset-row {
    align-items: flex-end;
}
#featured-products-text-col > p:not(.bolder, .caps) {
    margin-bottom: 2rem;
}
#featured-products-row-2 .striped-button.flex {
    width: fit-content;
}
#fp-text {
    width: 37rem;
    padding: 58rem 0 0 12rem;
}
#fp-text a { margin-top: 2rem;}
#house-geek {
    background-image: url(/images/hg-ground.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 12rem;
    background-size: 100%;
}
#house-geek-2 {
    align-items: flex-start;
    margin-top: -3rem;
}
#red-box {
    margin: 1rem 3rem;
    border: .25rem solid var(--lightblue);
    padding: .5rem 2rem;
}
#red-box p {
    color: var(--lightblue);
}
#house-geek p{
    margin-bottom: 1rem;
}
#house-rows :nth-child(2n +1) {
    flex-direction: row-reverse;
}
.house-row {
    margin-top: -8rem;
}
.house-row:first-child {
    margin-top: 0;
}
.slick-prev {
    left: -3rem !important;
}
.slick-prev:before {
    color: var(--darkgray)!important;
    opacity: 1!important;
}
.slick-next {
    right: -4rem !important;
    color: var(--darkgray)!important;
}
.slick-next:before {
    color: var(--darkgray)!important;
    opacity: 1!important;
}

.product-card, .set-card {
    width: 20rem;
    background-color: white;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    border: .3rem solid var(--darkgray);
    border-radius: 2rem;
    filter: brightness(1) drop-shadow(1rem 1rem 0 var(--darkgray));
    transition-property: filter;
    transition-duration: .3s;
}
.set-card div, .product-card div {
    background-color: var(--lightgray);
    margin: -1rem;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
    border-top: .25rem solid var(--red);
}
.product-card img {
    width: 100%;
    z-index: -1;
    position: relative;
}
.product-card h4 {
    font-size: 1.5rem;
}
.product-card h6 {
    font-weight: 100;
    margin-bottom: .5rem;
}
.product-card p {
    color: var(--blue);

}
.product-card a {
    font-size: 1.25rem;
}
footer {
    background-color: white;
}

@media  screen and (max-width: 680px) {
    #home-feature-row {
        width: 100vw;
        min-height: 100vh;
    }
    #featured-products {
        margin-top: -10rem;
        margin-left: 13rem;
        width: 35rem;
    }
    #cards {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }
    .house-row {
        flex-direction: column !important;
        margin-top: 0;
    }
    #fp-text {
        width: 25rem;
        padding: 64rem 0 0 0rem;
    }
    #fp-header {
        margin-top: -6rem;
    }
    #house-geek {
        display: block;
        background-position-y: 27rem;
    }
    #house-geek .column:first-child{
        width: 27rem;
        padding: 13rem 1rem 6rem;
    }
}

@media  screen and (min-width: 1200px) {
    #featured-products {
        margin-top: -13rem;
        margin-left: 32vw;
        max-width: 51vw;
        margin-bottom: 3rem;
    } 
    #fp-text {
        width: 37rem;
        padding: 44vw 0 0 22vw;
    }  
}