#home-feature-row {
    background-image: url(/images/home-hero.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    padding: 0 0 20rem 0;
}
#home-feature-row .card {
    border-right: 1rem solid var(--red);
}
#home-feature-row .card {
    margin-left: 0;
    width: 42rem;
}
#fp-wrapper {
    background-color: var(--paleblue);
    background:linear-gradient(var(--paleblue), var(--paleblue) 93%, #ffffff)
}
#fp-header {
    margin-top: -10rem;
    width: 100%;
}
#featured-products {
    margin-left: 23rem;
    width: 72rem;
    margin-top: -18rem;
}
#featured-products-row-2 {
    background-image: url(/images/fp-hero-2.png);
    background-repeat: no-repeat;  
    height: 105rem;
    margin-top: -20rem;
    background-size: contain;
}
#fp-text {
    width: 37rem;
    padding: 58rem 0 0 12rem;
}
#fp-text a { margin-top: 2rem;}
#house-geek {
    background-image: url(/images/hg-ground.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 9rem;
    margin-top: -25rem;
    background-size: 100%;
}
#house-geek p{
    margin-bottom: 3rem;
}
#house-rows :nth-child(2n) {
    flex-direction: row-reverse;
}
.house-row {
    margin-top: -8rem;
}
.house-row:first-child {
    margin-top: 0;
}
.slick-prev {
    left: -3rem !important;
}
.slick-prev:before {
    color: var(--darkgray)!important;
    opacity: 1!important;
}
.slick-next {
    right: -4rem !important;
    color: var(--darkgray)!important;
}
.slick-next:before {
    color: var(--darkgray)!important;
    opacity: 1!important;
}

.product-card, .set-card {
    width: 20rem;
    background-color: white;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    border: .3rem solid var(--darkgray);
    border-radius: 2rem;
    filter: drop-shadow(1rem 1rem 0 var(--darkgray));
}
.set-card div, .product-card div {
    background-color: var(--lightgray);
    margin: -1rem;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
    border-top: .25rem solid var(--red);
}
.product-card img {
    width: 100%;
    z-index: -1;
    position: relative;
}
.product-card h4 {
    font-size: 1.5rem;
}
.product-card h6 {
    font-weight: 100;
    margin-bottom: .5rem;
}
.product-card p {
    color: var(--blue);

}
.product-card a {
    font-size: 1.25rem;
}

@media  screen and (max-width: 680px) {
    #home-feature-row {
        background-image: url(/images/home-hero-sm.png);
        width: 100vw;
        min-height: 100vh;
        background-size: cover;
    }
    #featured-products {
        margin-top: -10rem;
        margin-left: 13rem;
        width: 35rem;
    }
    #featured-products-row-2 {
        background-image: url(/images/fp-hero-2-sm.png);
        background-size: 50rem;
    }
    #cards {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }
    .house-row {
        flex-direction: column !important;
        margin-top: 0;
    }
    #fp-text {
        width: 25rem;
        padding: 64rem 0 0 0rem;
    }
    #fp-header {
        margin-top: -6rem;
    }
    #house-geek {
        display: block;
        background-position-y: 27rem;
    }
    #house-geek .column:first-child{
        width: 27rem;
        padding: 13rem 1rem 6rem;
    }
}

@media  screen and (min-width: 1200px) {
    #home-feature-row {
        background-image: url(/images/home-hero-xl.png);
        width: 100vw;
    }
    #featured-products {
        margin-top: -13rem;
        margin-left: 32vw;
        max-width: 51vw;
        margin-bottom: 3rem;
    }
    #featured-products-row-2 {
        background-image: url(/images/fp-hero-2-xl.png);
        background-size: contain;
    }    
    #fp-text {
        width: 37rem;
        padding: 44vw 0 0 22vw;
    }  
}